

/*右边颜色说明开始*/
#rightLineColorExplain{
    right: 40px;
    top: 120px;
    width: 280px;
    height: 200px;
}
#rightLineColorExplain table{
    height:100%;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    border-collapse: collapse;
    text-align: center;
    color: #ffffff;
}
#rightLineColorExplain table,#rightLineColorExplain table tr th, #rightLineColorExplain table tr td {
    border: 1px solid rgba(255,255,255,0.5);
}
#rightLineColorExplain table tr td{
    font-size: 12px;
}
#rightLineColorExplain table tr:nth-child(odd){
    background-color: rgba(255,255,255,0.2);
}
#rightLineColorExplain table tr:nth-child(even){
    background-color: rgba(255,255,255,0.1);
}
#rightLineColorExplain table tr th:nth-of-type(1){
    width: 30%;
}
#rightLineColorExplain table tr td:nth-of-type(1) span{
    display: inline-block;
    width: 50%;
    height: 30%;
}
#rightLineColorExplain table tr td img{
    width: 40px;
    height: 25px;
}
#rightLineColorExplain table tr.two td:nth-of-type(1) span{
background-color: #F91050;
}
#rightLineColorExplain table tr.three td:nth-of-type(1) span{
background-color: #F3F606;
}
#rightLineColorExplain table tr.four td:nth-of-type(1) span{
background-color: #10FDF5;
}
#rightLineColorExplain table tr.five td:nth-of-type(1) span{
background-color: #0CF496;
}
/*右边颜色说明结束*/

